@inject KOF.Context.ApplicationDbContext _dbContext
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json;
@{ ViewData["Title"] = "MyAccount";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

    int DeliveryCharges = 0;
    List<Cart> mycart = new List<Cart>();

    var data = @HttpContextAccessor.HttpContext.Session.GetString("mycart");

    if (data != null)
    {
        var data2 = JsonConvert.DeserializeObject<IEnumerable<Cart>>(data);
        mycart.AddRange(data2);
    } }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css" integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js" integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@{ if (ViewBag.orderadded == "Success")
    {
        <script>


            Swal.fire(
                'Order Placed Successfully!',
                'We Will Contact You Soon!',
                'success'
            )

           


        </script>
 } }
<script>
   function onready()
    {

        let bilingcity = document.getElementById("billing_city").value;
        let cityname = bilingcity.toLowerCase();
        if (cityname == "lahore") {
            document.getElementById("deliverycharges").innerHTML = "0";
            var d = 0;
            var am =@mycart.Sum(x => x.TotalPrice);
            document.getElementById("subtotal").innerHTML = (d + am);
            document.getElementById("total").innerHTML = (d + am);
        }
        else {
            document.getElementById("deliverycharges").innerHTML = "200"
            var d = 200;
            var am =@mycart.Sum(x => x.TotalPrice);
            document.getElementById("subtotal").innerHTML = (d + am);
            document.getElementById("total").innerHTML = (d + am);
        }

    }
    window.onload = onready;
</script>
<div class="page-heading" >
    <div class="page-title">
        <h2>Cart</h2>
    </div>
</div>
<div class="main-container col1-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-12">
                <div class="one-page-checkout">
                    <div class="woocommerce">

                        <form name="checkout" method="post" class="checkout woocommerce-checkout" action="/Home/Checkout">



                            <div class="col2-set" id="customer_details">
                                <div class="col-1">
                                    <div class="woocommerce-billing-fields">

                                        <h3>Billing details</h3>


                            
                                        <div class="woocommerce-billing-fields__field-wrapper">

                                            <p class="form-row address-field validate-required form-row-wide" id="billing_address_0_field" data-priority="50"><label for="billing_address_0" class="">Full Name&nbsp;<abbr class="required" title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input required type="text" class="input-text " name="Name" id="billing_address_0" placeholder="Full Name" ></span></p>
                                            <p class="form-row address-field validate-required form-row-wide" id="billing_address_1_field" data-priority="50"><label for="billing_address_1" class="">Street address&nbsp;<abbr class="required" title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input required type="text" class="input-text " name="streadaddress" id="billing_address_1" placeholder="House number and street name" value="" autocomplete="address-line1" data-placeholder="House number and street name"></span></p>
                                            <p class="form-row address-field form-row-wide" id="billing_address_2_field" data-priority="60"><label for="billing_address_2" class="screen-reader-text">Apartment, suite, unit, etc.&nbsp;<span class="optional">(optional)</span></label><span class="woocommerce-input-wrapper"><input type="text" class="input-text " name="homeadderess" id="billing_address_2" placeholder="Apartment, suite, unit, etc. (optional)" value="" autocomplete="address-line2" data-placeholder="Apartment, suite, unit, etc. (optional)"></span></p>

                                            <p class="form-row address-field validate-required form-row-wide" id="billing_city_field" data-priority="70" data-o_class="form-row form-row-wide address-field validate-required">
                                            <label for="billing_city" class="">
                                                City&nbsp;<abbr class="required" title="required">*</abbr></label>
                                            <span class="woocommerce-input-wrapper">
                                                <input required type="text" class="input-text " oninput="getdelevery(this.value);" list="citylist" name="city" id="billing_city" placeholder="" value="Lahore"   autocomplete="off">
                                                <datalist id="citylist">
                                                    <option  value="Abbottabad">Abbottabad</option>
                                                    <option  value="Adezai">Adezai</option>
                                                    <option  value="Ali Bandar">Ali Bandar</option>
                                                    <option  value="Amir Chah">Amir Chah</option>
                                                    <option  value="Attock">Attock</option>
                                                    <option  value="Ayubia">Ayubia</option>
                                                    <option  value="Bahawalpur">Bahawalpur</option>
                                                    <option  value="Baden">Baden</option>
                                                    <option  value="Bagh">Bagh</option>
                                                    <option  value="Bahawalnagar">Bahawalnagar</option>
                                                    <option  value="Burewala">Burewala</option>
                                                    <option  value="Banda Daud Shah">Banda Daud Shah</option>
                                                    <option  value="Bannu district|Bannu">Bannu</option>
                                                    <option  value="Batagram">Batagram</option>
                                                    <option  value="Bazdar">Bazdar</option>
                                                    <option  value="Bela">Bela</option>
                                                    <option  value="Bellpat">Bellpat</option>
                                                    <option  value="Bhag">Bhag</option>
                                                    <option  value="Bhakkar">Bhakkar</option>
                                                    <option  value="Bhalwal">Bhalwal</option>
                                                    <option  value="Bhimber">Bhimber</option>
                                                    <option  value="Birote">Birote</option>
                                                    <option  value="Buner">Buner</option>
                                                    <option  value="Burj">Burj</option>
                                                    <option  value="Chiniot">Chiniot</option>
                                                    <option  value="Chachro">Chachro</option>
                                                    <option  value="Chagai">Chagai</option>
                                                    <option  value="Chah Sandan">Chah Sandan</option>
                                                    <option  value="Chailianwala">Chailianwala</option>
                                                    <option  value="Chakdara">Chakdara</option>
                                                    <option  value="Chakku">Chakku</option>
                                                    <option  value="Chakwal">Chakwal</option>
                                                    <option  value="Chaman">Chaman</option>
                                                    <option  value="Charsadda">Charsadda</option>
                                                    <option  value="Chhatr">Chhatr</option>
                                                    <option  value="Chichawatni">Chichawatni</option>
                                                    <option  value="Chitral">Chitral</option>
                                                    <option  value="Dadu">Dadu</option>
                                                    <option  value="Dera Ghazi Khan">Dera Ghazi Khan</option>
                                                    <option  value="Dera Ismail Khan">Dera Ismail Khan</option>
                                                    <option  value="Dalbandin">Dalbandin</option>
                                                    <option  value="Dargai">Dargai</option>
                                                    <option  value="Darya Khan">Darya Khan</option>
                                                    <option  value="Daska">Daska</option>
                                                    <option  value="Dera Bugti">Dera Bugti</option>
                                                    <option  value="Dhana Sar">Dhana Sar</option>
                                                    <option  value="Digri">Digri</option>
                                                    <option  value="Dina City|Dina">Dina</option>
                                                    <option  value="Dinga">Dinga</option>
                                                    <option  value="Diplo, Pakistan|Diplo">Diplo</option>
                                                    <option  value="Diwana">Diwana</option>
                                                    <option  value="Dokri">Dokri</option>
                                                    <option  value="Drosh">Drosh</option>
                                                    <option  value="Duki">Duki</option>
                                                    <option  value="Dushi">Dushi</option>
                                                    <option  value="Duzab">Duzab</option>
                                                    <option  value="Faisalabad">Faisalabad</option>
                                                    <option  value="Fateh Jang">Fateh Jang</option>
                                                    <option  value="Ghotki">Ghotki</option>
                                                    <option  value="Gwadar">Gwadar</option>
                                                    <option  value="Gujranwala">Gujranwala</option>
                                                    <option  value="Gujrat">Gujrat</option>
                                                    <option  value="Gadra">Gadra</option>
                                                    <option  value="Gajar">Gajar</option>
                                                    <option  value="Gandava">Gandava</option>
                                                    <option  value="Garhi Khairo">Garhi Khairo</option>
                                                    <option  value="Garruck">Garruck</option>
                                                    <option  value="Ghakhar Mandi">Ghakhar Mandi</option>
                                                    <option  value="Ghanian">Ghanian</option>
                                                    <option  value="Ghauspur">Ghauspur</option>
                                                    <option  value="Ghazluna">Ghazluna</option>
                                                    <option  value="Girdan">Girdan</option>
                                                    <option  value="Gulistan">Gulistan</option>
                                                    <option  value="Gwash">Gwash</option>
                                                    <option  value="Hyderabad">Hyderabad</option>
                                                    <option  value="Hala">Hala</option>
                                                    <option  value="Haripur">Haripur</option>
                                                    <option  value="Hab Chauki">Hab Chauki</option>
                                                    <option  value="Hafizabad">Hafizabad</option>
                                                    <option  value="Hameedabad">Hameedabad</option>
                                                    <option  value="Hangu">Hangu</option>
                                                    <option  value="Harnai">Harnai</option>
                                                    <option  value="Hasilpur">Hasilpur</option>
                                                    <option  value="Haveli Lakha">Haveli Lakha</option>
                                                    <option  value="Hinglaj">Hinglaj</option>
                                                    <option  value="Hoshab">Hoshab</option>
                                                    <option  value="Islamabad">Islamabad</option>
                                                    <option  value="Islamkot">Islamkot</option>
                                                    <option  value="Ispikan">Ispikan</option>
                                                    <option  value="Jacobabad">Jacobabad</option>
                                                    <option  value="Jamshoro">Jamshoro</option>
                                                    <option  value="Jhang">Jhang</option>
                                                    <option  value="Jhelum">Jhelum</option>
                                                    <option  value="Jamesabad">Jamesabad</option>
                                                    <option  value="Jampur">Jampur</option>
                                                    <option  value="Janghar">Janghar</option>
                                                    <option  value="Jati, Jati(Mughalbhin)">Jati</option>
                                                    <option  value="Jauharabad">Jauharabad</option>
                                                    <option  value="Jhal">Jhal</option>
                                                    <option  value="Jhal Jhao">Jhal Jhao</option>
                                                    <option  value="Jhatpat">Jhatpat</option>
                                                    <option  value="Jhudo">Jhudo</option>
                                                    <option  value="Jiwani">Jiwani</option>
                                                    <option  value="Jungshahi">Jungshahi</option>
                                                    <option  value="Karachi">Karachi</option>
                                                    <option  value="Kotri">Kotri</option>
                                                    <option  value="Kalam">Kalam</option>
                                                    <option  value="Kalandi">Kalandi</option>
                                                    <option  value="Kalat">Kalat</option>
                                                    <option  value="Kamalia">Kamalia</option>
                                                    <option  value="Kamararod">Kamararod</option>
                                                    <option  value="Kamber">Kamber</option>
                                                    <option  value="Kamokey">Kamokey</option>
                                                    <option  value="Kanak">Kanak</option>
                                                    <option  value="Kandi">Kandi</option>
                                                    <option  value="Kandiaro">Kandiaro</option>
                                                    <option  value="Kanpur">Kanpur</option>
                                                    <option  value="Kapip">Kapip</option>
                                                    <option  value="Kappar">Kappar</option>
                                                    <option  value="Karak City">Karak City</option>
                                                    <option  value="Karodi">Karodi</option>
                                                    <option  value="Kashmor">Kashmor</option>
                                                    <option  value="Kasur">Kasur</option>
                                                    <option  value="Katuri">Katuri</option>
                                                    <option  value="Keti Bandar">Keti Bandar</option>
                                                    <option  value="Khairpur">Khairpur</option>
                                                    <option  value="Khanaspur">Khanaspur</option>
                                                    <option  value="Khanewal">Khanewal</option>
                                                    <option  value="Kharan">Kharan</option>
                                                    <option  value="kharian">kharian</option>
                                                    <option  value="Khokhropur">Khokhropur</option>
                                                    <option  value="Khora">Khora</option>
                                                    <option  value="Khushab">Khushab</option>
                                                    <option  value="Khuzdar">Khuzdar</option>
                                                    <option  value="Kikki">Kikki</option>
                                                    <option  value="Klupro">Klupro</option>
                                                    <option  value="Kohan">Kohan</option>
                                                    <option  value="Kohat">Kohat</option>
                                                    <option  value="Kohistan">Kohistan</option>
                                                    <option  value="Kohlu">Kohlu</option>
                                                    <option  value="Korak">Korak</option>
                                                    <option  value="Korangi">Korangi</option>
                                                    <option  value="Kot Sarae">Kot Sarae</option>
                                                    <option  value="Kotli">Kotli</option>
                                                    <option  value="Lahore">Lahore</option>
                                                    <option  value="Larkana">Larkana</option>
                                                    <option  value="Lahri">Lahri</option>
                                                    <option  value="Lakki Marwat">Lakki Marwat</option>
                                                    <option  value="Lasbela">Lasbela</option>
                                                    <option  value="Latamber">Latamber</option>
                                                    <option  value="Layyah">Layyah</option>
                                                    <option  value="Leiah">Leiah</option>
                                                    <option  value="Liari">Liari</option>
                                                    <option  value="Lodhran">Lodhran</option>
                                                    <option  value="Loralai">Loralai</option>
                                                    <option  value="Lower Dir">Lower Dir</option>
                                                    <option  value="Shadan Lund">Shadan Lund</option>
                                                    <option  value="Multan">Multan</option>
                                                    <option  value="Mandi Bahauddin">Mandi Bahauddin</option>
                                                    <option  value="Mansehra">Mansehra</option>
                                                    <option  value="Mian Chanu">Mian Chanu</option>
                                                    <option  value="Mirpur">Mirpur</option>
                                                    <option  value="Moro, Pakistan|Moro">Moro</option>
                                                    <option  value="Mardan">Mardan</option>
                                                    <option  value="Mach">Mach</option>
                                                    <option  value="Madyan">Madyan</option>
                                                    <option  value="Malakand">Malakand</option>
                                                    <option  value="Mand">Mand</option>
                                                    <option  value="Manguchar">Manguchar</option>
                                                    <option  value="Mashki Chah">Mashki Chah</option>
                                                    <option  value="Maslti">Maslti</option>
                                                    <option  value="Mastuj">Mastuj</option>
                                                    <option  value="Mastung">Mastung</option>
                                                    <option  value="Mathi">Mathi</option>
                                                    <option  value="Matiari">Matiari</option>
                                                    <option  value="Mehar">Mehar</option>
                                                    <option  value="Mekhtar">Mekhtar</option>
                                                    <option  value="Merui">Merui</option>
                                                    <option  value="Mianwali">Mianwali</option>
                                                    <option  value="Mianez">Mianez</option>
                                                    <option  value="Mirpur Batoro">Mirpur Batoro</option>
                                                    <option  value="Mirpur Khas">Mirpur Khas</option>
                                                    <option  value="Mirpur Sakro">Mirpur Sakro</option>
                                                    <option  value="Mithi">Mithi</option>
                                                    <option  value="Mongora">Mongora</option>
                                                    <option  value="Murgha Kibzai">Murgha Kibzai</option>
                                                    <option  value="Muridke">Muridke</option>
                                                    <option  value="Musa Khel Bazar">Musa Khel Bazar</option>
                                                    <option  value="Muzaffar Garh">Muzaffar Garh</option>
                                                    <option  value="Muzaffarabad">Muzaffarabad</option>
                                                    <option  value="Nawabshah">Nawabshah</option>
                                                    <option  value="Nazimabad">Nazimabad</option>
                                                    <option  value="Nowshera">Nowshera</option>
                                                    <option  value="Nagar Parkar">Nagar Parkar</option>
                                                    <option  value="Nagha Kalat">Nagha Kalat</option>
                                                    <option  value="Nal">Nal</option>
                                                    <option  value="Naokot">Naokot</option>
                                                    <option  value="Nasirabad">Nasirabad</option>
                                                    <option  value="Nauroz Kalat">Nauroz Kalat</option>
                                                    <option  value="Naushara">Naushara</option>
                                                    <option  value="Nur Gamma">Nur Gamma</option>
                                                    <option  value="Nushki">Nushki</option>
                                                    <option  value="Nuttal">Nuttal</option>
                                                    <option  value="Okara">Okara</option>
                                                    <option  value="Ormara">Ormara</option>
                                                    <option  value="Peshawar">Peshawar</option>
                                                    <option  value="Panjgur">Panjgur</option>
                                                    <option  value="Pasni City">Pasni City</option>
                                                    <option  value="Paharpur">Paharpur</option>
                                                    <option  value="Palantuk">Palantuk</option>
                                                    <option  value="Pendoo">Pendoo</option>
                                                    <option  value="Piharak">Piharak</option>
                                                    <option  value="Pirmahal">Pirmahal</option>
                                                    <option  value="Pishin">Pishin</option>
                                                    <option  value="Plandri">Plandri</option>
                                                    <option  value="Pokran">Pokran</option>
                                                    <option  value="Pounch">Pounch</option>
                                                    <option  value="Quetta">Quetta</option>
                                                    <option  value="Qambar">Qambar</option>
                                                    <option  value="Qamruddin Karez">Qamruddin Karez</option>
                                                    <option  value="Qazi Ahmad">Qazi Ahmad</option>
                                                    <option  value="Qila Abdullah">Qila Abdullah</option>
                                                    <option  value="Qila Ladgasht">Qila Ladgasht</option>
                                                    <option  value="Qila Safed">Qila Safed</option>
                                                    <option  value="Qila Saifullah">Qila Saifullah</option>
                                                    <option  value="Rawalpindi">Rawalpindi</option>
                                                    <option  value="Rabwah">Rabwah</option>
                                                    <option  value="Rahim Yar Khan">Rahim Yar Khan</option>
                                                    <option  value="Rajan Pur">Rajan Pur</option>
                                                    <option  value="Rakhni">Rakhni</option>
                                                    <option  value="Ranipur">Ranipur</option>
                                                    <option  value="Ratodero">Ratodero</option>
                                                    <option  value="Rawalakot">Rawalakot</option>
                                                    <option  value="Renala Khurd">Renala Khurd</option>
                                                    <option  value="Robat Thana">Robat Thana</option>
                                                    <option  value="Rodkhan">Rodkhan</option>
                                                    <option  value="Rohri">Rohri</option>
                                                    <option  value="Sialkot">Sialkot</option>
                                                    <option  value="Sadiqabad">Sadiqabad</option>
                                                    <option  value="Safdar Abad- (Dhaban Singh)">Safdar Abad</option>
                                                    <option  value="Sahiwal">Sahiwal</option>
                                                    <option  value="Saidu Sharif">Saidu Sharif</option>
                                                    <option  value="Saindak">Saindak</option>
                                                    <option  value="Sakrand">Sakrand</option>
                                                    <option  value="Sanjawi">Sanjawi</option>
                                                    <option  value="Sargodha">Sargodha</option>
                                                    <option  value="Saruna">Saruna</option>
                                                    <option  value="Shabaz Kalat">Shabaz Kalat</option>
                                                    <option  value="Shadadkhot">Shadadkhot</option>
                                                    <option  value="Shahbandar">Shahbandar</option>
                                                    <option  value="Shahpur">Shahpur</option>
                                                    <option  value="Shahpur Chakar">Shahpur Chakar</option>
                                                    <option  value="Shakargarh">Shakargarh</option>
                                                    <option  value="Shangla">Shangla</option>
                                                    <option  value="Sharam Jogizai">Sharam Jogizai</option>
                                                    <option  value="Sheikhupura">Sheikhupura</option>
                                                    <option  value="Shikarpur">Shikarpur</option>
                                                    <option  value="Shingar">Shingar</option>
                                                    <option  value="Shorap">Shorap</option>
                                                    <option  value="Sibi">Sibi</option>
                                                    <option  value="Sohawa">Sohawa</option>
                                                    <option  value="Sonmiani">Sonmiani</option>
                                                    <option  value="Sooianwala">Sooianwala</option>
                                                    <option  value="Spezand">Spezand</option>
                                                    <option  value="Spintangi">Spintangi</option>
                                                    <option  value="Sui">Sui</option>
                                                    <option  value="Sujawal">Sujawal</option>
                                                    <option  value="Sukkur">Sukkur</option>
                                                    <option  value="Suntsar">Suntsar</option>
                                                    <option  value="Surab">Surab</option>
                                                    <option  value="Swabi">Swabi</option>
                                                    <option  value="Swat">Swat</option>
                                                    <option  value="Tando Adam">Tando Adam</option>
                                                    <option  value="Tando Bago">Tando Bago</option>
                                                    <option  value="Tangi">Tangi</option>
                                                    <option  value="Tank City">Tank City</option>
                                                    <option  value="Tar Ahamd Rind">Tar Ahamd Rind</option>
                                                    <option  value="Thalo">Thalo</option>
                                                    <option  value="Thatta">Thatta</option>
                                                    <option  value="Toba Tek Singh">Toba Tek Singh</option>
                                                    <option  value="Tordher">Tordher</option>
                                                    <option  value="Tujal">Tujal</option>
                                                    <option  value="Tump">Tump</option>
                                                    <option  value="Turbat">Turbat</option>
                                                    <option  value="Umarao">Umarao</option>
                                                    <option  value="Umarkot">Umarkot</option>
                                                    <option  value="Upper Dir">Upper Dir</option>
                                                    <option  value="Uthal">Uthal</option>
                                                    <option  value="Vehari">Vehari</option>
                                                    <option  value="Veirwaro">Veirwaro</option>
                                                    <option  value="Vitakri">Vitakri</option>
                                                    <option  value="Wadh">Wadh</option>
                                                    <option  value="Wah Cantt">Wah Cantt</option>
                                                    <option  value="Warah">Warah</option>
                                                    <option  value="Washap">Washap</option>
                                                    <option  value="Wasjuk">Wasjuk</option>
                                                    <option  value="Wazirabad">Wazirabad</option>
                                                    <option  value="Yakmach">Yakmach</option>
                                                    <option  value="Zhob">Zhob</option>
                                                    <option  value="Other">Other</option>
                                                </datalist>
                                               
                                            </span></p>
                                            <p class="form-row form-row-wide validate-required validate-phone" id="billing_phone_field" data-priority="100"><label for="billing_phone" class="">Phone&nbsp;<abbr class="required" title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="tel" class="input-text " required name="phone" id="billing_phone" placeholder="" value="" autocomplete="tel"></span></p>
                                            <p class="form-row form-row-wide validate-required validate-email" id="billing_email_field" data-priority="110"><label for="billing_email" class="">Email address&nbsp;<abbr class="required" title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="email" required class="input-text " name="email" id="billing_email" placeholder="" value="" autocomplete="email"></span></p>
                                        </div>

                                    </div>
                               

                                </div>

                                <div class="col-2">
                                    <div class="woocommerce-shipping-fields">
                                    </div>
                                    <div class="woocommerce-additional-fields">



                                        <h3>Additional information</h3>


                                        <div class="woocommerce-additional-fields__field-wrapper">
                                            <p class="form-row notes" id="order_comments_field" data-priority=""><label for="order_comments" class="">Order notes&nbsp;<span class="optional">(optional)</span></label><span class="woocommerce-input-wrapper"><textarea name="Ordernote" class="input-text " id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery." rows="2" cols="5"></textarea></span></p>
                                        </div>


                                    </div>
                                </div>
                            </div>




                            <h3 id="order_review_heading">Your order</h3>


                            <div id="order_review" class="woocommerce-checkout-review-order">
                                <table class="shop_table woocommerce-checkout-review-order-table">
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in mycart)
                                        {
                                            var productname = _dbContext.Products.Where(x => x.Id == item.ProductId).SingleOrDefault().Name;
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    @productname (@item.unit)&nbsp;						 <strong class="product-quantity">(@item.Quantity×&nbsp;@item.PerUnitPrice)</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">Rs : </span>@(item.Quantity*item.PerUnitPrice)</bdi></span>
                                                </td>
                                            </tr>
}

                                    </tbody>
                                    <tfoot>
                                        <script>
                                            function getdelevery(city) {
                                                let cityname = city.toLowerCase();
                                                if (cityname== "lahore") {
                                                    document.getElementById("deliverycharges").innerHTML = "0";
                                                    var d = 0;
                                                    var am =@mycart.Sum(x => x.TotalPrice);

                                                        @*;*@

                                                        document.getElementById("subtotal").innerHTML = (d + am);
                                                    document.getElementById("total").innerHTML = (d + am);
                                                    @{
                                                        DeliveryCharges = 0;
                                                    }
                                                } else {
                                                    document.getElementById("deliverycharges").innerHTML = "200"
                                                    var d = 200;
                                                    var am =@mycart.Sum(x => x.TotalPrice);
                                                      @{
                                                        DeliveryCharges = 200;
                                                    }
                                                        document.getElementById("subtotal").innerHTML = (d + am);
                                                    document.getElementById("total").innerHTML = (d + am);
                                                }

                                            }
                                        </script>
                                        <tr class="cart-subtotal">
                                            <th>Delivery Charges</th>
                                            <td><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">Rs : </span><span id="deliverycharges"></span></bdi></span></td>
                                        </tr>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">Rs : </span><span id="subtotal"></span></bdi></span></td>
                                        </tr>






                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">Rs : </span><span id="total"></span></bdi></span></strong> </td>
                                        </tr>


                                    </tfoot>
                                </table>

                                <div id="payment" class="woocommerce-checkout-payment">

                                    <div class="form-row place-order">
                                        <noscript>
                                            Since your browser does not support JavaScript, or it is disabled, please ensure you click the <em>Update Totals</em> button before placing your order. You may be charged more than the amount stated above if you fail to do so.			<br /><button type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Update totals">Update totals</button>
                                        </noscript>

                                        <div class="woocommerce-terms-and-conditions-wrapper">
                                            <div class="woocommerce-privacy-policy-text">
                                                <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a class="woocommerce-privacy-policy-link" target="_blank">privacy policy</a>.</p>
                                            </div>
                                        </div>
                                        <input type="hidden" name="DeliveryCharges" value="@DeliveryCharges" />
                                        @if (mycart.Count() > 0)
                                        {
                                    <button type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order" data-value="Place order">Place order</button>}


                                    </div>
                                </div>

                            </div>


                        </form>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
